/bin/
.gradle/
.idea/
/build/
/.settings/
/generated/
/run/
gradle*
COMP2024_CP1.pdf
COMP2024_CP2.pdf
COMP2024_CP3.pdf

# Class files
**/*.class
!libs-jmm/**/*.class

# debug files
output.ollir
output.jasmin
output.j
